<div style="padding: 15px;">
    <h1>All Products</h1>
    <code>
        <pre>{{products |json}}</pre>
    </code> 

    <!-- <ul>
        <li *ngFor='let product of products'>{{ product.name }}</li>
      </ul> -->

      <!-- <div class="bx--row" *ngFor="let obj of products; let i = index;">
          <span class="bx--col-xs-5 bx--col-md-5"> {{obj.name}} :</span>
          <span class="bx--col-xs-5 bx--col-md-5">{{obj.description}} </span>
      </div> -->

    <!-- <mat-card *ngFor="let product of products | keyvalue" style="margin-top:12px;">
        <mat-card-header>
            <mat-card-title>{{product.key}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.value}}
            </p>
        </mat-card-content>
    </mat-card> -->
</div>
